@model IEnumerable<dynamic>
  @*http://www.dotnetfunda.com/articles/show/3139/webgrid-in-aspnet-mvc*@  
@{
    ViewBag.Title = "WebGrid";
    WebGrid grid = new WebGrid(Model); // grid with sorting and paging
}

@grid.GetHtml()

@*@{ 
    System.Data.DataTable dt = ViewBag.pickdataset;
    <table>
        <tr>
            @for(int i=0;i<dt.Columns.Count;i++) {
                <th>@dt.Columns[i].ColumnName</th>
            }
        </tr>
        @for (int r = 0; r < dt.Rows.Count; r++)
        {
            <tr ondblclick="getRow();">
                @for(int c=0;c<dt.Columns.Count;c++)
                {
                    <td>
                        @dt.Rows[r][c].ToString();
                    </td>
                }
            </tr>
        }
    </table>
   <script>
       function getRow()
       {

       }
   </script>
   
}*@
