<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Discharge Card</title>
</head>
<body>
    <div style='font-family:verdana'>
        <table width='700px'>
            <tr style='font-size:30px'><td colspan=2>Kamla Eye Clinic</td></tr>
            <tr style='font-size:14px'><td>Discharge Date #:05/08/2017</td><td>Discharge Id #:171</td></tr>
        </table>
        <br />
        <table border='1' width='700px' style='font-size:13px; border-collapse:collapse;'>
            <tr><td colspan='4' style='background-color:#ddd; font-weight:bold'> PATIENT DETAILS </td></tr>
            <tr><td>Patient Name:</td><td>MR. Mahesh  Nemane</td><td>Patient Id:</td><td>141</td></tr>
            <tr><td>Patient Age:</td><td>20</td><td>Consultant</td><td>Rajendra&nbsp;Jain</td></tr>
            <tr><td>Address:</td><td>-</td><td>Contact No :</td><td>7040405834</td></tr>
        </table>
        <br />
        <table border='0' width='700px' style='font-size:13px; border-collapse: collapse;'>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Investigations :</td></tr>
            <tr><td colspan='5'>1.&nbsp;UrineComp&nbsp;&nbsp;2.&nbsp;R.B.Sugar&nbsp;&nbsp;3.&nbsp;HbSag Disease&nbsp;&nbsp;4.&nbsp;ESR.</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Presenting Complains :</td></tr>
            <tr><td colspan='5'>1.&nbsp;Watering +LE.</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Provisional Diagnosis :</td></tr>
            <tr><td colspan='5'>1.&nbsp;Allergic-Conj.</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Previous Disease and Duration:</td></tr>
            <tr style='font-weight:bold'><td>Sr.No#</td><td>Disease#</td><td>From Date#</td><td>To Date#</td></tr>
            <tr><td colspan='5'></td></tr>
            <td>1</td>
            <td>Use Glasses</td>
            <td>05/01/2017</td>
            <td>05/08/2017</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Tn And Vn :</td></tr>
            <tr><td></td><td><u>cgl</u></td><td>cgl</td><td>Using glasses</td><td>cph</td></tr>
            <tr><td colspan='5'></td></tr>
            <tr><td>Vn-RE</td><td>0.5</td><td>0.1</td><td></td><td>0.1</td></tr>
            <tr><td>Vn-LE</td><td>0.001</td><td>.25</td><td></td><td>0.15</td></tr>
            <tr><td>Tn-RE</td><td>0.13</td><td>0.12</td><td></td><td></td></tr>
            <tr><td>Tn-LE</td><td>12</td><td>3.0</td><td></td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> S/L :</td></tr>
            <tr><td colspan='5'>1.&nbsp;MGD.+BE.</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Fundus (F) :</td></tr>
            <tr><td colspan='5'>1.&nbsp;NAD.</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Previous Disease and Duration:</td></tr>
            <tr style='font-weight:bold' align='center'><td>Sr.No #</td><td>Medicine #</td><td>Quantity #</td><td>Timeing #</td></tr>
            <tr><td colspan='5'></td></tr>
            <tr align='center'><td>1</td><td>Tab ANP Plus SOS - A</td><td>10</td><td>&nbsp;&nbsp;M&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;N&nbsp;&nbsp;</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Advice:</td></tr>
            <tr><td colspan='5'>1.&nbsp;Cat Sx +BE.</td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'>Reports:</td></tr>
            <tr style='font-weight:bold' align='center'><td>Sr.No#</td><td>Report#</td><td>date#</td></tr>
            <tr align='center'><td colspan='5'><td></td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='5'> Eye Vision :</td></tr>
            <tr>
                <td colspan='5'>
                    <table border='1' width='700px' style='border-collapse:collapse;'>
                        <tr align='center'><td>Eye</td><td colspan='3'>Right</td><td colspan='3'>Left</td></tr>
                        <tr align='center'><td>Vn</td><td colspan='3'>6/5</td><td colspan='3'>6/5</td></tr>
                        <tr align='center'><td></td><td>Sph.</td><td>Cyl.</td><td>Axis.</td><td>Sph.</td><td>Cyl.</td><td>Axis.</td></tr>
                        <tr align='center'><td>Dist.</td><td>0.5</td><td>0.75</td><td>0</td><td>0.75</td><td>0.25</td><td>0</td></tr>
                        <tr align='center'><td>Near.</td><td>0</td><td>0.21</td><td>0.75</td><td>.21</td><td>0.5</td><td>0.35</td></tr>
                    </table>
                </td>
            </tr>
            <tr><td colspan='5'></td></tr>
            <tr style='background-color:#ddd; font-weight:bold'><td colspan='2'>Follow-up Date :</td><td colspan='3'>05/31/2017</td></tr>
        </table>
    </div>
    <br>
    <span style='font-size:11px'>## This is computer generated print there no need of signaure.</span>
</body>
</html>